{% extends '_base.html' %}
{% load static %}

{% block title %}
  SigIn
{% endblock  %}

{% block content %}
  <section class="margin-controller">
<!-- SignIn/SignUp Panel -->
<div class="row text-center justify-content-center">
  <div class="col-md-6 ">
    <!-- Login form -->
    <div id="login">
      <div class="login-content my-4 bg-dark">
        <img id="login-img" src="{% static 'imgs/avatar.png' %}" alt="">
        <h2 class="my-font">Sign In</h2>
        {% if error %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Invalid username or password, please make sure that both fields are correct!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
        <p class="small">Don not have an account, <a href="{% url 'signup' %}" id="login-button" class="text-danger">create</a> one here</p>
        <form action="{% url 'login' %}" method="POST" autocomplete="off">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" value="{{login_data.username}}" class="form-control" name="username" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" value="{{login_data.password}}" class="form-control" name="password" placeholder="Password">
          </div>
          <button class="btn btn-block btn-outline-dark contact-button mt-5">Submit</button>
        </form>
      </div>
    </div>

  </div>
</div>
</section>

<!-- Footer -->
<footer id='main-footer' class="bg-dark text-center text-white py-1">
    <div class="container">
        <p>Copyright &copy; <span id="year"></span></p>
        <h4>Java blog</h4>
    </div>
</footer>
{% endblock  %}