{% extends '_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
  {{article.title}}
{% endblock  %}

{% block content %}
  <!-- Detail Photo header -->
<section id="detail-photo" class="mt-5">
{% if article.image %}
  <div class="blog-container cont">
    <img src="{{ article.image.url }}" alt="">
  </div>
{% endif %}
  <div class="container">
    <h1 class="my-font my-4 text-center">{{ article.title }}</h1>
    <div>{{ article.text|safe }}</div>
    <p class="px-5 mr-2 my-4 text-right"><span class="text-muted"> &#x226a; {{ article.owner.username }} 	&#x226B;</span></p>
  </div>
</section>

<!--Like or Unlike Section-->
<div class="like">
  <div class="container">
  <p class="mx-5">
    <i class="far fa-thumbs-up fa-2x {% if myfav_type == 1 %}like-hide{% endif %}" id="likeBtn" onclick="favorite('{% url 'blog:favorite' article.id article.slug %}', 1)"></i> 
    <i class="fas fa-thumbs-up fa-2x {% if myfav_type == 1 %}like-show{% endif %}" id="likeBtn-filled" onclick="favorite('{% url 'blog:unfavorite' article.id article.slug  %}', 0)"></i> 
    <span class="badge badge-dark align-middle" id="likes-count">{{ like_count }}</span></p>
  <p>
    <i class="far fa-thumbs-down fa-2x {% if myfav_type == 2 %}like-hide{% endif %}" id="unlikeBtn" onclick="favorite('{% url 'blog:favorite' article.id article.slug  %}', 2)"></i> 
    <i class="fas fa-thumbs-down fa-2x {% if myfav_type == 2 %}like-show{% endif %}" id="unlikeBtn-filled" onclick="favorite('{% url 'blog:unfavorite' article.id article.slug  %}', 0)"></i>
    <span class="badge badge-dark align-middle" id="dislikes-count">{{ dislike_count }}</span></p>
    <hr>
  </div>
</div>

<!-- Comments -->
<section id="blog-comment">
  <div class="container">
    <div class="alert alert-danger mx-5" role="alert" id="alert-block" style="display:none">
      Unexpected error happened, please try again!
    </div>

    <form method="POST" action="{% url 'blog:create_comment' article.id article.slug %}">
      {% csrf_token %}
      <div class="form-group">
        <textarea class="form-control" placeholder="Add Comment..." name="text"></textarea>
      </div>
      <input type="submit" class="btn btn-outline-dark btn-block">
    </form>

    <div class="comments">
      <ul>
        {% for comment in comments %}
           <li class="py-2">
          <p class="ml-3"> <img src="{{comment.owner.reader.photo.url}}" alt=""><span class="my-font ml-2">{{comment.owner.username}}</span> <span class="small text-muted pl-2">{{comment.created_at|naturaltime}}</span></p>
          <p>{{ comment.text }}</p>
        </li>
        {% empty %}
          <p class="text-center text-muted p-3">Be the first to leave a comment</p>
        {% endfor %}
        
      </ul>
    </div>
  </div>
</section>

<!-- Footer -->
<footer id='main-footer' class="bg-dark text-center text-white py-1">
    <div class="container">
        <p>Copyright &copy; <span id="year"></span></p>
        <h4>Java blog</h4>
    </div>
</footer>

{% if user.is_authenticated %}
<script>var logged_in = true;</script>
{% else %}
<script>var logged_in = false;</script>
{% endif %}
{% endblock  %}


{% block jscode %}
  <script>
  
    var favorite = function(fav_url, fav_type){
      data = JSON.stringify({f_type : fav_type});
      console.log(data);
      let csrftoken = getCookie('csrftoken');
      console.log(csrftoken);
      fetch(fav_url, {
      method : 'POST',
      mode : 'cors',
      cache : 'no-cache',
      credentials : 'same-origin',
      headers: {
        'Accept' : 'application/json, text/plain, */*',
        'Content-Type' : 'application/json',
        'X-CSRFToken' : csrftoken
      },
      redirect : 'follow',
      body : data
      })
      .then(response => {
        console.log('Got response');
        return response.json();
      })
      .then(resdata => {
        console.log(resdata);
        adjust_fav_icons(resdata['fav_type']);
        $('#likes-count').text(resdata['like_count']);
        $('#dislikes-count').text(resdata['dislike_count']);
      })
      .catch(error => {
        console.log(error);
        show_error('Please login first to leave comment or reaction!');
      });
  }

   function getCookie(name) {
    return document.cookie.replace('csrftoken=', '');
  }

  function show_error(alert_text = ''){
    $('#alert-block').show();
    if(alert_text != ''){
      $('#alert-block').html(alert_text);
    }
    $('#alert-block').delay(3000).fadeOut(1000);
  }
 
  function adjust_fav_icons(fav_type){
    if(fav_type==0){
      $('#likeBtn').show();
      $('#likeBtn-filled').hide();
      $('#unlikeBtn').show();
      $('#unlikeBtn-filled').hide();
    }
    if(fav_type==1){
      $('#likeBtn').hide();
      $('#likeBtn-filled').show();
      $('#unlikeBtn').show();
      $('#unlikeBtn-filled').hide();
    }
    if(fav_type==2){
      $('#likeBtn').show();
      $('#likeBtn-filled').hide();
      $('#unlikeBtn').hide();
      $('#unlikeBtn-filled').show();
    }
  }

  </script>
{% endblock  %}