{% extends '_base.html' %}
{% load static %}
{% load blog_escaper %}

{% block title %}
  Blog
{% endblock  %}

{% block content %}
  <!-- Blog Header -->
<section id="blog-header">
  <div class="pt-5">
    <h2 class="display-4 text-center my-auto text-muted my-font pt-2">
      Teaching <span class="my-red"> - Reaching</span>
    </h2>
    <div class="container d-none d-md-block">
      <p class="text-light lead text-center mt-4"><a href="#" class=" btn px-5 btn-outline-primary mr-3 contact-button">Share </a>Your Knowledge</p>
      <p class="text-light lead text-right"> <a href="" class="btn px-5 btn-outline-primary mr-3 contact-button">Learn </a>How To Write One</p>
    </div>
  </div>
</section>

<!-- Blog Filter -->
<section id="blog-filter" class="muted-border bg-dark text-white mb-3">
  <h3 class="my-font text-center">Add Filter</h3>
  <div class="blog-container">
    <div class="alert alert-danger alert-dismissible fade show mx-5 mt-3" id="filter-error" role="alert">
    <p id="filter-error-text"></p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form action="" method="GET" class="p-4 mx-4" id="article-filter">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Title</span>
        </div>
        <input type="text" name="keyword" class="form-control" id="keyword" placeholder="Enter Title Or Keywords In The Text">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Category</span>
        </div>
        <select name="category" id="category" class="form-control">
          <option value="" selected>All</option>
          {% for category in categories %}
            <option value="{{category.title}}">{{category.title|title}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Month</span>
        </div>
        <input type="text" name="month" class="form-control" id="month" placeholder="yyyy-mm">
      </div>
      <button type="submit" class="btn btn-outline-light btn-block">Search Now</button>
    </form>
  </div>
</section>

<!-- Blog List -->
<section id="blog-list">
  <div class="blog-container">
    <div class="card-columns">
      
      {% for article  in articles %}

      <div class="card">
        {% if article.image %}
        <img class="card-img-top" src=" {{ article.image.url }} " alt="Card image cap">
        {% endif %}
        <div class="card-body bg-dark text-white">
          <a class="text-white" href=" {% url 'blog:detail' article.id article.slug %} ">
          <h5 class="card-title">{{ article.title }}</h5>
          </a>
          <p class="card-text">{{article.text|myescaper|truncatechars:100}}</p>
            <div class="blog-labels">
              {% for category in article.category.all %}
                <span class="badge badge-warning">{{ category.title }}</span>
              {% endfor %}
            </div>
            <p class="text-muted small text-right px-4"> {{article.owner.username}} </p>
        </div>
      </div>

      {% empty %}
        <h5 class="text-center text-muted my-5">There is no articles here yet.</h5>
      {% endfor %}
      
    </div>
  </div>
</section>

<!-- Footer -->
<footer id='main-footer' class="bg-dark text-center text-white py-1">
  <div class="py-3" id="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-md-5 align-self-center">
          <h4 class="my-font text-center">Keep In Touch With US</h4> 
        </div>
        <div class="col-md-7">
          <div class="d-flex justify-content-center">
          <form action="" class="form-inline py-3">
            <input type="email" class="form-control" placeholder="Email">       
            <button class="btn btn-outline-primary contact-button ml-2">Subscribe</button>
          </form>  
          </div>     
        </div>
      </div>
    </div>
  </div>
    <div class="container">
        <p>Copyright &copy; <span id="year"></span></p>
        <h4>Java blog</h4>
    </div>
</footer>

{% endblock  %}

{% block jscode %}
  <script>
  $(document).ready(function(){
    $('#filter-error').hide();
    $('#article-filter').submit(function(){
      monthReg = new RegExp("^[12][0-9]{3}-((0[1-9])|(1[0-2]))$");
      month = $('#month').val();
      if(month==""){
        return true;
      }
      if(monthReg.test(month)){
        $('#filter-error').hide();
      }
      else{
        $('#filter-error').show();
        $('#filter-error-text').html('Wrong format, month should be like <b>YYYY-MM</b>');
        return false;
      }
    });

  });
  </script>
{% endblock  %}